{% extends "base_home.html.twig" %}
{% block title %}{{ tournament.name }}{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <span>{{ tournament.name }}</span>
                    <br>
                    <small>{{ tournament.date }} {{ tournament.time }}</small>
                </div>
            </div>
            <div class="panel-body">
                <h4>
                    <span class="label label-info">Total: {{ num_people }}</span>
                    <span class="label label-warning">Promoter: {{ promoter.name }}</span>
                    <span class="label label-success">Open</span>
                </h4>
                <ul class="list-group" style="margin-top: 20px;">
                    {% for user in users %}
                        <li class="list-group-item">{{ user.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}