{% extends "base_home.html.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">{{ title }}</div>
            </div>
            <div class="panel-body">
                <div class="text-right">
                    <a href="/Ping-Pong/create-tournament" type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <br/>
                <ul class="list-group">
                    {% for tournament in tournaments %}
                        <li class="list-group-item" style="margin-bottom: 15px;">
                            <b style="font-size: large;">Tournament: {{ tournament.name }}</b> <small style="margin-left: 20px;">{{ tournament.date }} at {{ tournament.time }}</small>
                            {% if tournament.status == "OPEN" %}
                                <div style="float: right;">
                                    {% if tournament.num_people > 0 %}
                                        <a href="/Ping-Pong/participants/{{ tournament.id }}" class="btn btn-success btn-xs">
                                            Open <span class="badge">{{ tournament.num_people }}</span>
                                        </a>
                                    {% else %}
                                        <span class="label label-success">Open</span>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if tournament.registered  %}
                                        <form action="/Ping-Pong/tournaments/{{ tournament.id }}/delete"
                                              method="post">
                                            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 10px;" value="Deregister"/>
                                        </form>
                                    {% else %}
                                        <form action="/Ping-Pong/tournaments/{{ tournament.id }}" method="post">
                                            <input type="submit" class="btn btn-success btn-sm" style="margin-top: 10px;" value="Register"/>
                                        </form>
                                    {% endif %}

                                    {% if tournament.promoter_id == user_id %}
                                        <form action="/Ping-Pong/tournaments/{{ tournament.id }}/close" method="post">
                                            <input type="submit" class="btn btn-danger btn-sm" style="margin-top: 10px;" value="Close tournament"/>
                                        </form>
                                    {% endif %}
                                </div>
                            {% else  %}
                                <div style="float: right;">
                                    {% if tournament.num_people > 0 %}
                                        <a href="/Ping-Pong/rounds/{{ tournament.id }}" class="btn btn-danger btn-xs">
                                            Closed <span class="badge">{{ tournament.num_people }}</span>
                                        </a>
                                    {% else %}
                                        <span class="label label-danger">Closed</span>
                                    {% endif %}
                                </div>
                            {% endif %}

                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}